
.navbar-brand {
    text-align: center!important;
    font-size: large;
    font-size: 24px;
    text-align: center;
    margin: 0;
    font-feature-settings: "smcp";
    font-variant: small-caps;
    margin: 0;
}

.NavBarFooter{
    font-size: 16px;
    text-align: center;
    margin: 0;
    font-variant: small-caps;
    margin: 0;
    margin-top: 200%;

}